.entry-comments{
	padding:0 0 50px;
}

.comments-title{
	padding: 0 0 40px;
	font-weight:bold;
}

.comment-form{
	margin: 20px 0;
}

.comment-form > p{
	position: relative;
	margin-bottom: 10px;
}

.comment-form label{
	padding-bottom: 10px;
	display:none;
	font-size: 18px;
	font-weight:bold;

}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"]{
	position: relative;
	width: 100%;
	max-width:none;
	line-height:1.6;
	padding: 10px 15px;
	background: #F1F1F1;
	border: none;
}
.comment-form .comment-form-comment{
	background: transparent;
}
.comment-form textarea{
	position: relative;
	z-index: 100;
	width: 100%;
	background: #F1F1F1;
	border: none;
	margin:0;
	padding: 10px 15px;
	line-height: 1.6;
}
.comment-form .form-submit{
	text-align: right;
	background: transparent;
}
.comment-form input[type="submit"]{
	@extend .button;
	margin-right:0;
	padding: 15px;
	width:100%;
}
.comment-form .logged-in-as{
	font-weight: bold;
	padding: 0;
	margin: 10px 0;
	
	a{
		text-decoration: none;
	}
}

.comment-list{
	list-style: none;
	margin-top: 60px;
	
	.children{
		list-style: none;
		margin-left: 8%;
		padding-left: 3%;
		border-left: 2px solid rgba(56, 69, 91, 0.1);
		margin-top: 50px;
	}
}

.comment{
	@extend .clearfix;
	margin-bottom: 30px;
}

.comment-waiting{
	display: block;
	padding: 30px 0;
}

.comment-aside{
	float: left;
	width: 15%;
	
	.avatar{
		border-radius: 50%;
		position: relative;
		height: 100%;
	}
}
.comment-main{
	float: left;
	width: 85%;
	padding-left: 20px;
}

.comment-header{
	font-weight:bold;
	color:#777777;
	margin-bottom: 10px;
	
	.comment-author{
		font-family: $heading-font;
		font-size: 20px;
		
		a{
			font-style: normal;
			@extend %custom-color;
			text-decoration: none;
			
			&:hover{
				text-decoration:underline;
			}
		}
		cite{
			font-style: normal;
		}
	}
	
	.comment-date{
		font-size: 14px;
	}
}

.comment-content{
	font-size:16px;
	line-height:1.6;
}

.comment-footer{	
	margin-top:10px;
	
	.reply{
		float: right;
		padding-right: 4px;
	}
}
.comment-reply-link{
	@extend %custom-color;
	text-decoration: none;
	font-weight: bold;
	
	&:hover{
		text-decoration: underline;
	}

}

#respond a{
	text-decoration:none;
	
	&:hover{
		text-decoration:underline;
	}
}