textarea {
	overflow: auto;
	font-family: inherit;
	resize: vertical;
	font-size: 100%;
}

button,
input,
select{
    font-family: inherit;
    font-size: 100%;
}

input[type='text'],input[type='email'], input[type='url'], select{
	max-width:300px;
	line-height:32px;
	height:40px;
}

input[type='tel'], input[type='number'], input[type='date']{
	max-width:170px;
	line-height:32px;
	height:40px;
}

input[type='text'],input[type='email'], input[type='url'], input[type='tel'], input[type='number'], input[type='date'], textarea, select{
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid transparent;
	background: #f1f1f1;
	
	&:focus{
		border-color: $main-color;
		box-shadow: 0 0 5px $main-color;
	}
}

//Addresses Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
button,
input{
    line-height: normal;
}

//Re-set default cursor for disabled elements.
button[disabled],
input[disabled]{
    cursor: default;
}

//Hand cursor on clickable input elements
label,input[type="button"],input[type="submit"],input[type="image"],button{
	cursor: pointer;
}

//Make buttons play nice in IE:
//www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
button{
	width: auto;
	overflow: visible;
}


// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Corrects inability to style clickable `input` types in iOS.
// 3. Improves usability and consistency of cursor style between image-type
//    `input` and others.
button,
html input[type="button"],//1
input[type="reset"],
input[type="submit"]{
    -webkit-appearance: button;//2
    cursor: pointer;//3
}

// Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
input[type="search"] {
    -webkit-appearance: textfield;
}

//Removes inner padding and search cancel button in Safari 5 and Chrome on OS X.
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
}

//Removes inner padding and border in Firefox 4+.
button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

// Removes :focus from all navigators
*:focus{
	outline:0;
}