$body-copy-font: 'Times New Roman' !default;
$heading-font: 'Times New Roman' !default;
	
html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: $body-copy-font;
}
h1,h2,h3,h4,h5,h6{
	font-family: $heading-font;
	font-weight: normal;
}

//default list styles
ul,ol{
	list-style-position: inside;
}
ol{
	list-style-type: decimal;
}

//sets sub and sup without affecting line-height (gist.github.com/413930)
sub,
sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup{
    top: -0.5em;
}
sub{
    bottom: -0.25em;
}

//Addresses styling not present in IE 8/9, Safari 5, and Chrome.
abbr[title]{
    border-bottom: 1px dotted;
}

//Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
b,
strong{
    font-weight: bold;
}

//Addresses styling not present in Safari 5 and Chrome.
dfn {
    font-style: italic;
}

//Improves readability of pre-formatted text in all browsers.
pre,
code,
samp{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
	font-family: monospace, serif;
}

//Sets consistent quote types.
q{
    quotes: "\201C" "\201D" "\2018" "\2019";
}