$grid-gutters: 40px;
$grid-collapse-below: 500px !default;

/*.grid{
	@extend .clearfix;
	//margin-left: - $grid-gutters !important;
}*/
%grid-col{
	float: left;
	padding-right: $grid-gutters;
}
[class*='col-']{
	@extend %grid-col;
	@extend .clearfix;

	&:last-child{
		padding-right:0;
	}
}
.col-1-1{
	width: 100%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.33333333%;
}
.col-2-3{
	width: 66.66666666%;
}
.col-1-4{
	width: 25%;
}
.col-1-5{
	width: 20%;
}
.col-4-5{
	width: 80%;
}

@media only screen and (max-width: $grid-collapse-below){
	[class*='col-']{
		width: 100%;
		padding-right: 0;
	}
	/*.grid{
		margin-left: 0 !important;
	}*/
}