//defining a properry in rem unit with a px fallback
$font-base: 16 !default;
html{
	font-size: #{$font-base}px;
	color: #333;
}
@mixin rem-sizing($property, $pxsize){
	#{$property}: #{$pxsize}px; 
	#{$property}: #{$pxsize/$font-base}rem;
}

//clearfix
.clearfix:before,
.clearfix:after{
	content: " ";
    display: table;
    clear: both;
}

//Hide only visually, but have it available for screenreaders: by Jon Neal.
//www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
.visuallyhidden{
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}